.activityCard__container--club-thumbup-member {
  padding-left: 52px;
}

.activityCard__container--club-thumbup-member li {
  display: inline;
  margin-right: -10px;
}

.activityCard__container--club-thumbup-member li img {
  width: 32px;
  height: 32px;
  border: solid 1px rgba(153, 153, 153, 0.2);
  border-radius: 50%;
}

