:root {
  --font-family: PingFangSC, Arial, sans-serif, serif;
}

.am-list-line::after {
  display: none !important;
}

.newClub__input--club-funding,
.newClub__input--report-threshold,
.newClub__content--club-rule-title {
  border-top: 1px solid #ddd;
  font-family: var(--font-family);
}

.newClub__container {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.newClub__container--content {
  position: fixed;
  left: 0;
  right: 0;
  top: 45px;
  font-family: var(--font-family);
}

.newClub__button--create-club {
  font-size: 17px;
  font-weight: 500;
  font-family: var(--font-family);
  color: #fff;
  background-color: #28d890;
  position: fixed !important;
  width: 100%;
  bottom: 0;
}

.inactive {
  color: #fff !important;
  background-color: #bdc1ce;
}
