:root {
  --font-family: PingFangSC, Arial, sans-serif, serif;
}

.am-list-line::after {
  display: none !important;
}

.newClub__input--club-funding,
.newClub__input--report-threshold,
.newClub__content--club-rule-title {
  border-top: 1px solid #ddd;
  font-family: var(--font-family);
}

.newClub__container--content {
  height: 100vh;
  background-color: #fff;
  font-family: var(--font-family);
  /*border: 1px red solid;*/
}

.newClub__button--create-club {
  font-size: 17px;
  font-weight: 500;
  font-family: var(--font-family);
  color: #fff;
  background-color: #28d890;
  position: fixed !important;
  width: 100%;
  bottom: 0;
}
