.clubMember__lists--container {
  height: calc(100vh - 250px);
  margin-top: 20px;
  overflow-y: scroll;
  font-family: PingFangSC, Arial, sans-serif, serif;
}

.clubMember__listItem--personal-info {
  border-top: 1px solid #ddd;
}

.clubMember__listItem--personal-points {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #28d890;
}
