.clubMember__lists--container {
  height: 61vh;
  margin-top: 2.99vh;
  overflow-y: scroll;
  font-family: PingFangSC, Arial, sans-serif, serif;
}

.clubMember__listItem--personal-info {
  border-top: 1px solid #ddd;
}
.clubMember__listItem--personal-bonus,
.clubMember__listItem--personal-points {
  font-size: 12px;
}

.clubMember__listItem--personal-points {
  color: #28d890;
}

.clubMember__listItem--personal-bonus {
  color: #242b43;
  margin-left: 12.5vw;
}

.am-badge-text {
  margin-left: 2.67vw;
  margin-bottom: 0.15vh;
}

