:root {
  --font-family: PingFangSC, Arial, sans-serif, serif;
}

.modifyClub__input--report-threshold,
.modifyClub__container--content,
.modifyClub__input--club-name,
.modifyClub__input--club-id,
.modifyClub__content--club-rule-title {
  border-top: 1px solid #ddd;
  font-family: var(--font-family);
}

.modifyClub__input--report-threshold {
  border-bottom: 1px solid #ddd;
}

.modifyClub__container--content {
  height: 100vh;
  background-color: #fff;
  /*border: 1px red solid;*/
}

.modifyClub__content--club-rule-title {
  color: #242b43;
  font-size: 17px;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 12px;
}

.modifyClub__content--club-rule {
  width: 92%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid 1px #e8ebf3;
  border-radius: 10px;
}

.am-textarea-control textarea {
  font-size: 12px;
}

.am-textarea-count {
  border: 1px solid #ddd;
  border-radius: 50px;
  width: 65px;
  text-align: center;
}

.modifyClub__button--confirm-modify {
  font-size: 17px;
  font-weight: 500;
  font-family: var(--font-family);
  color: #fff;
  background-color: #28d890;
  position: fixed !important;
  width: 100%;
  bottom: 0;
}
