:root {
  --font-family: PingFangSC, Arial, sans-serif, serif;
}

.modifyClub__input--report-threshold,
.modifyClub__input--club-id,
.modifyClub__content--club-rule-title {
  border-top: 1px solid #ddd;
  font-family: var(--font-family);
}

.modifyClub__container {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modifyClub__container--content {
  position: fixed;
  left: 0;
  right: 0;
  top: 45px;
}

.modifyClub__button--confirm-modify {
  font-size: 17px;
  font-weight: 500;
  font-family: var(--font-family);
  color: #fff;
  background-color: #28d890;
  position: fixed !important;
  width: 100%;
  bottom: 0;
}
