* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.personal-panel {
    height: 147px;
    box-shadow: 0 3px 6px 0 rgba(4, 20, 5, 0.05);
    background-color: #ffffff;
    /*text-align: center;*/
}

.am-list-thumb img {
    /*UI proto is 45px*/
    width: 60px;
    height: 60px;
    border: solid 2px rgba(153, 153, 153, 0.2);
    border-radius: 50px;
    background-color: #d8d8d8;
}

.am-list-brief {
    font-family: monospace;
}

.am-list-body::after {
    display: none !important;
}

.am-list-line::after {
    display: none !important;
}

.group-button .am-button {
    width: 114px;
    height: 34px;
    color: #fff;
    border-radius: 50px;
    background-color: #28d890;
    font-size: 13px;
}

.group-button .am-button:nth-child(1) {
    margin-right: 48px;
}

.group-button img {
    width: 16px;
    height: 16px;
}

