:root {
  --font-family: PingFangSC, Arial, sans-serif, serif;
}

.checkin__container {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkin__container--content {
  position: fixed;
  left: 0;
  right: 0;
  top: 45px;
}

.checkin__content--club-select-title,
.checkin__content--word,
.checkin__content--word-title {
  color: #242b43;
  font-size: 17px;
  font-family: var(--font-family);
  padding-left: 4vw;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 1.8vh;
}

.checkin__button--checkin {
  font-size: 17px;
  font-weight: 500;
  font-family: var(--font-family);
  color: #fff;
  background-color: #28d890;
  border-radius: 50px;
  margin-top: 2.25vh;
  width: 50vw;
}

.am-picker-popup-header-left {
  color: #242b43;
}

/*club select pop up 确定*/
.am-picker-popup-header-right {
  color: #28d890;
}

.inactive {
  color: #fff !important;
  background-color: #bdc1ce;
}
