:root {
  --font-family: PingFangSC, Arial, sans-serif, serif;
}

.checkin__container--content {
  height: 83vh;
  background-color: #fff;
  /*border: 1px solid red;*/
}

.checkin__content--club-select-title,
.checkin__content--word,
.checkin__content--word-title {
  color: #242b43;
  font-size: 17px;
  font-family: var(--font-family);
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 12px;
}

.checkin__button--checkin {
  font-size: 17px;
  font-weight: 500;
  font-family: var(--font-family);
  color: #fff;
  background-color: #28d890;
  border-radius: 50px;
  width: 50%;
}

.am-picker-popup-header-left {
  color: #242b43;
}

/*club select pop up 确定*/
.am-picker-popup-header-right {
  color: #28d890;
}

