.register-title {
    font-size: 23px;
    padding-top: 19px;
    padding-bottom: 42px;
}

.register-img-title {
    font-size: 20px;
    padding-top: 19px;
}

.register-img {
    padding-left: 33%;
}
