.detail__container {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.detail__container--content {
  position: fixed;
  left: 0;
  right: 0;
  top: 45px;
}

.detail__container--club-info {
  height: 170px;
  /*border: 1px red solid;*/
  background-color: #fff;
}

.detail__button--club-manage {
  font-size: 17px;
  font-weight: 500;
  font-family: var(--font-family);
  color: #fff;
  background-color: #28d890;
  position: fixed !important;
  width: 100%;
  bottom: 0;
}

