.user__container--group-button .am-button {
  width: 30.4vw;
  height: 5vh;
  color: #fff;
  border-radius: 50px;
  background-color: #28d890;
  font-size: 13px;
}

.user__button--join-club {
  margin-right: 12.8vw;
}

.user__container--group-button img {
  width: 16px;
  height: 16px;
}
