:root {
  --font-family: PingFangSC, Arial, sans-serif, serif;
}

.activityCardList__container-content {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  /*border: 1px red solid !important;*/
}

.activityCard__container-content {
  /*border: 1px red solid !important;*/
  width: 98vw;
  margin-bottom: 10px;
  box-shadow: 0 2.5px 5px 0 rgba(4, 20, 5, 0.07);
  background-color: #ffffff;
}

