.am-card-body {
  padding-left: 18.4vw;
  padding-top: 0;
}

.am-card-body::before {
  display: none !important;
}

.activityCard__content-checkin-content {
  font-family: var(--font-family);
  font-size: 16px;
  color: #242b43;
  margin-bottom: 1.5vh;
  /*border: 1px solid gold;*/
}

.activityCard__content-post-pic {
  width: 58.67vw;
}

.activityCard__content-checkin-time {
  font-family: var(--font-family);
  font-size: 12px;
  text-align: left;
  color: #898fa3;
  /*border: 1px solid greenyellow;*/
  margin-top: 1.5vh;
}
