:root {
  --font-family: PingFangSC, Arial, sans-serif, serif;
}

.manageClubDetail__content--container {
  width: 92vw;
  height: 35vh;
  box-shadow: 0 3px 6px 0 rgba(4, 20, 5, 0.07);
  margin-top: 2.25vh;
  /*border: 1px greenyellow solid;*/
}

.manageClubDetail__content--name {
  text-align: center;
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 500;
  color: #242b43;
  padding-top: 2.25vh;
  /*border: 1px greenyellow solid;*/
}

.manageClubDetail__container--funding {
  margin-top: 2.47vh;
}

.manageClubDetail__content--funding {
  font-family: var(--font-family);
  color: #28d890;
}

.manageClubDetail__content--id {
  font-family: var(--font-family);
  color: #898fa3;
}

.manageClubDetail__content--separate-line {
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #898fa3;
  margin-left: 5.3vw;
  margin-right: 5.3vw;
}

.manageClubDetail__container--funding-info {
  margin-bottom: 2.25vh;
  /*border: 1px red solid;*/
  text-align: center;
}

.manageClubDetail__content--rule {
  margin-left: 4vw;
  margin-right: 4vw;
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 1.5;
  color: #242b43;
}
