const config = {
  chain: '',  // chain address
  userContract: '', // player contract address
  tokenContract: '', // token contract address
  clubContract: '', // club contract address
  qiniuAccessKey: '', // qiniu AK
  qiniuSecretKey: '', // qiniu SK
  qiniuBucket: '', // image bucket name
  prefixUrl: '', // qiniu bucket url
  imgSlim: '', // qiniu image slim url
}

exports {
  config
}
