/**
 *
 * @param    {boolean}  hasReported       card has already been reported by current user, and can't be modified.
 * @param    {boolean}  hasforbiddened    card has been over reported and can't do anything else by current user.
 *
 */
const activityDataList = [
  {
    name: '梁高宁',
    avatar: 'avatar1.png',
    clubName: 'Cryptape慢跑俱乐部',
    checkinTime: '2018.11.04 18:36:18',
    checkinContent: '我，梁高宁',
    postPic: 'http://piivt4i69.bkt.clouddn.com/20160829235930000000_1_265966_54.jpg',
    thumbUpMembers: ['avatar.png', 'avatar1.png', 'avatar6.png', 'avatar3.png', 'avatar5.png',],
    thumbUpTimes: 15,
    hasThumbUp: false,
    hasReported: false,
    hasforbiddened: false,
  }, {
    name: '梁高宁',
    avatar: 'avatar1.png',
    clubName: 'Cryptape慢跑俱乐部',
    checkinTime: '2018.11.04 18:36:18',
    checkinContent: '今天就算饿死',
    postPic: 'http://piivt4i69.bkt.clouddn.com/6a44ff43ly1fwf5a7pum9j21120kuaff.jpg',
    thumbUpMembers: ['avatar.png', 'avatar1.png', 'avatar6.png', 'avatar3.png', 'avatar5.png',],
    thumbUpTimes: 15,
    hasReported: false,
    hasThumbUp: false,
    hasforbiddened: true,
  }, {
    name: '梁高宁',
    avatar: 'avatar1.png',
    clubName: 'Cryptape慢跑俱乐部',
    checkinTime: '2018.11.04 18:36:18',
    checkinContent: '从这里跳下去',
    postPic: '',
    thumbUpMembers: ['avatar.png', 'avatar1.png', 'avatar6.png', 'avatar3.png', 'avatar5.png',],
    thumbUpTimes: 15,
    hasReported: true,
    hasThumbUp: true,
    hasforbiddened: false,
  }, {
    name: '高宁',
    avatar: 'avatar1.png',
    clubName: 'Cryptape慢跑俱乐部',
    checkinTime: '2018.11.04 18:36:18',
    checkinContent: '也不会吃一串油炸',
    postPic: 'http://piivt4i69.bkt.clouddn.com/72ae6931e08abd.jpg_720x300x95_1e47166b.jpg',
    thumbUpMembers: ['avatar.png', 'avatar1.png', 'avatar6.png', 'avatar3.png', 'avatar5.png',],
    thumbUpTimes: 15,
    hasReported: false,
    hasThumbUp: true,
    hasforbiddened: false,
  }, {
    name: '高宁',
    avatar: 'avatar1.png',
    clubName: 'Cryptape慢跑俱乐部',
    checkinTime: '2018.11.04 18:36:18',
    checkinContent: '真香，真香，真香，真香，真香，真香',
    postPic: 'http://piivt4i69.bkt.clouddn.com/wKgB3FFBex-ANwdBAAC59Gg271A08.jpeg',
    thumbUpMembers: ['avatar.png', 'avatar1.png', 'avatar6.png', 'avatar3.png', 'avatar5.png',],
    thumbUpTimes: 15,
    hasReported: true,
    hasThumbUp: false,
    hasforbiddened: false,
  },]

const clubName = [
  {
    'value': 'Cryptape慢跑俱乐部 (#1001)',
    'label': 'Cryptape慢跑俱乐部 (#1001)',
  }, {
    'value': '宇宙无敌撸猫社 (#1002)',
    'label': '宇宙无敌撸猫社 (#1002)',
  }, {
    'value': 'Cryptape篮球社 (#1003)',
    'label': 'Cryptape篮球社 (#1003)',
  }, {
    'value': '小黑裙俱乐部 (#1004)',
    'label': '小黑裙俱乐部 (#1004)',
  }, {
    'value': '腹肌马甲线俱乐部 (#1005)',
    'label': '腹肌马甲线俱乐部 (#1005)',
  }, {
    'value': '偶尔加班俱乐部 (#1006)',
    'label': '偶尔加班俱乐部 (#1006)',
  }, {
    'value': '每天加班俱乐部 (#1007)',
    'label': '每天加班俱乐部 (#1007)',
  }, {
    'value': 'Cryptape羽毛球社 (#1008)',
    'label': 'Cryptape羽毛球社 (#1008)',
  },
]

const clubDataList = [
  {
    clubName: 'Cryptape慢跑俱乐部',
    avatar: ['avatar5.png', 'avatar1.png', 'avatar6.png',],
    clubID: 1001,
  }, {
    clubName: '宇宙无敌撸猫社',
    avatar: ['avatar6.png', 'avatar4.png', 'avatar.png',],
    clubID: 1002,
  }, {
    clubName: 'Cryptape羽毛球社',
    avatar: ['avatar5.png', 'avatar1.png', 'avatar4.png', 'avatar.png',],
    clubID: 1003,
  }, {
    clubName: 'Cryptape篮球社',
    avatar: ['avatar.png', 'avatar1.png', 'avatar6.png', 'avatar3.png', 'avatar4.png', 'avatar5.png', 'avatar.png', 'avatar1.png',],
    clubID: 1004,
  }, {
    clubName: '小黑裙俱乐部',
    avatar: ['avatar.png', 'avatar1.png', 'avatar6.png', 'avatar3.png', 'avatar4.png', 'avatar5.png',],
    clubID: 1006,
  }, {
    clubName: '腹肌马甲线俱乐部',
    avatar: ['avatar.png', 'avatar3.png', 'avatar4.png', 'avatar5.png',],
    clubID: 1007,
  }, {
    clubName: '偶尔加班俱乐部',
    avatar: ['avatar3.png', 'avatar1.png', 'avatar5.png',],
    clubID: 1008,
  }, {
    clubName: '每天加班俱乐部',
    avatar: ['avatar.png', 'avatar1.png', 'avatar6.png', 'avatar3.png', 'avatar5.png',],
    clubID: 1009,
  },]

const memberDataList = [
  {
    name: 'realwwy',
    avatar: 'avatar.png',
    address: '0X291302034049012393Ba0414',
    points: '100'
  }, {
    name: '梁高宁',
    avatar: 'avatar1.png',
    address: '0X291302034049012393Ba0415',
    points: '2018'
  }, {
    name: '可',
    avatar: 'avatar3.png',
    address: '0X291302034049012393Ba0414',
    points: '990'
  }, {
    name: '南木修思',
    avatar: 'avatar4.png',
    address: '0X291302034049012393Ba0414',
    points: '415'
  }, {
    name: '泉下月出',
    avatar: 'avatar5.png',
    address: '0X291302034049012393Ba0414',
    points: '334'
  }, {
    name: 'Trust you',
    avatar: 'avatar6.png',
    address: '0X291302034049012393Ba0414',
    points: '719'
  },]

const clubInfo = {
  clubName: 'Cryptape慢跑俱乐部',
  clubID: 1001,
  clubRule: '进入本慢跑俱乐部者，每周最少跑1公里，否则给大家发红包，以Keep打卡为证！本周下雨较多，可以适当放松要求，本周不做强制要求，可以不发红包，下周不下雨了大家加油跑，不然又要贴膘了~~~~~',
  reportThreshold: 3,
}

export {
  activityDataList,
  clubName,
  clubDataList,
  memberDataList,
  clubInfo,
}
