.manageClubDetail__input--increase-funding {
  /*border: 1px solid red;*/
  margin-top: 2.24vh;
  width: 20vw;
}

.manageClubDetail__button--increase-funding {
  color: #28d890;
  border-radius: 20px;
  font-size: 13px;
  width: 20vw;
  height: 6vh;
  line-height: 6vh;
  border: solid 1px #28d890 !important;
}

.manageClubDetail__container--increase-funding {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.75vh;
  margin-top: 2.4vh;
}

.inactive {
  color: #fff !important;
  background-color: #bdc1ce;
  border: #bdc1ce !important;
}
