:root {
  --font-family: PingFangSC, Arial, sans-serif, serif;
}

.clubDetail__content--name {
  width: 100vw;
  text-align: center;
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 500;
  color: #242b43;
  padding-top: 0.75vh;
}

.clubDetail__container--funding {
  margin-top: 2.47vh;
}

.clubDetail__content--funding {
  font-family: var(--font-family);
  color: #28d890;
}

.clubDetail__content--id {
  font-family: var(--font-family);
  color: #898fa3;
}

.clubDetail__content--separate-line {
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #898fa3;
  margin-left: 5.3vw;
  margin-right: 5.3vw;
}

.clubDetail__container--funding-info {
  margin-bottom: 2.25vh;
  text-align: center;
}

.clubDetail__content--rule {
  width: 90.93vw;
  margin: 0 auto;
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 1.5;
  color: #242b43;
}
